html{
    height: 100%;
    width: 100%;
}
#as{
    text-decoration: underline dotted;
}
.change{
    text-align: center;
    text-decoration: underline;
}
#lock{
    text-align: center;
    justify-content: center;
    border: 10px black solid;
    padding: 30px;
    margin: 10px black solid;
}
#output {
    font-family: monospace;
    white-space: pre-wrap;
}