html{
    height: 100%;
    width: 100%;
}
.as{
    text-align: center;
    justify-content: center;
}
#lock{
    text-align: center;
    justify-content: center;
}
.change{
    text-align: center;
    text-decoration: dashed;
}