html{
    height: 100%;
    width: 100%;
}
#as{
    text-decoration: underline dotted;
}
#lock{
    text-align: center;
    justify-content: center;
}
.change{
    text-align: center;
    text-decoration: underline;
}
#lock{
    border: 10px black solid;
    padding: 30px;
    margin: 10px black solid;
}